@model List<PinterestClone.Models.User>

    @{
    ViewData["Title"] = "Following";
    }

    <h2>Following</h2>
    <ul class="list-group">
        @foreach (var user in Model)
        {
        <li class="list-group-item">
            @user.Name (@user.Email)
        </li>
        }
    </ul>
    @if (!Model.Any())
    {
    <p>Not following anyone.</p>
    }