<footer class="text-secondary bg-dark">
    <div class="container py-2">
        &copy; @DateTime.Now.Year - SnapNest -
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
