<footer class="border-top footer text-secondary bg-dark" style="position: relative; bottom: 0;">
    <div class="container py-2">
        &copy; @DateTime.Now.Year - SnapNest -
        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
