/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use "~/scss/coreui" as * with (
 * 2 | |   $enable-deprecation-messages: false
 * 3 | | );
 *   | '-^
 *   '
 *   wwwroot\scss\style.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use \"~/scss/coreui\" as * with (\a 2 \2502  \2502    $enable-deprecation-messages: false\a 3 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   wwwroot\\scss\\style.scss 1:1  root stylesheet";
}
